<section class="main-content">
  <app-honeycomb-grid></app-honeycomb-grid>
    <div class="container">
      <div class="row col-12">
          <h2 class="section-title">About Us</h2>
      </div>
      <div class="row col-12">
        <div class="col-md-9">
          <!-- Left Column -->
          <div class="left-column">
            <h3>What We Do</h3>
          </div>
          <div class="right-column">
          </div>
        </div>
        <div class="col-md-3">
          <!-- Right Column -->
          <div class="right-column">
            <div class="data-row">
              <h3 class="stats">Community Members</h3>
                <div class="counting-number">
                    {{ countingNumber }}
                </div>
            </div>
            <div class="data-row">
              <h3 class="stats">Top Three Votings</h3>
              <div class="votingsubjects" *ngFor="let subject of topVotingSubjects">
                <h4>{{ subject.smallTitle }}</h4>
                <p>{{ getMostVotedOptionTitle(subject) }}</p>
                <div class="voting-bar">
                  <div class="voting-fill"
                    [style.width.%]="calculatePercentageMostVotedOption(subject)">
                    Votes: {{ getMostVotedOptionVotes(subject) }}
                  </div>
                </div>
              </div>
            </div>
            <div class="data-row">
              <h3 class="stats">Finance Status</h3>
              <!-- Add graph or data visualization here -->
            </div>
            <!-- Add more data rows as needed -->
          </div>
        </div>
      </div>
    </div>
  <app-join-cards></app-join-cards>
</section>
