<header>
    <div >
        <div class="logo">
            <a href="#"><img src="../../../assets/Logo.png" alt="S.E.A.R.C.H. Initiative Logo"></a>
        </div>
        <div class="company">
            <h2>S.E.A.R.C.H. Initiative</h2>
            <h3><span>S</span>pace <span>E</span>xploration <span>A</span>nd <span>R</span>easearch <span>C</span>olaboration for <span>H</span>umankind</h3>
        </div>
    </div>
    <nav>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Join</a></li>
        <li><a href="#">Stats</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <a routerLink="/login">
      <img class="login-image" src="../../../assets/avatar_astronaut.png" alt="Login">
    </a>
</header>