<header>
    <div >
        <div class="logo">
            <a href="#"><img src="../../../assets/Logo.png" alt="S.E.A.R.C.H. Initiative Logo"></a>
        </div>
        <div class="company">
            <h2>S.E.A.R.C.H. Initiative</h2>
            <h3>Space Exploration And Reasearch Colaboration for Humankind</h3>
        </div>
    </div>
    <nav>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Join</a></li>
        <li><a href="#">Stats</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <a routerLink="/login">
      <img class="login-image" src="../../../assets/no-avatar-240x300.png" alt="Login">
    </a>
</header>