/* Add this to your CSS file */
.heading {
    color: orange;
    margin-left: 10px;
}
.voting-container {
    font-family: "exo", sans-serif;
    background-color: #001F3F;
    color: #FFFFFF;
    padding: 50px 0;
    font-family: "Exo", sans-serif;
}

.voting-subject {
    border-top: 2px solid white;
    border-top-right-radius: 30px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.voting-option {
    margin-left: 20px;
    border-top: 2px solid orange;
    border-top-right-radius: 20px;
    margin-top: 10px;
}

.voting-bar {
    width: 80%;
    height: 20px;
    background-color: #ddd;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px
  }
  
  .voting-fill {
    height: 100%;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    line-height: 20px;
    position: absolute;
    transition: width 0.3s ease-in-out;
  }
  
  .vote-count {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
  }

  button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #39CCCC;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #FFFFFF;
  }