<div class="right-column">
    <div class="data-row">
        <app-gadgets [gadgetContent]="communityMembersContent" [gadgetContentTitle]="communityMembersTitle"></app-gadgets>
    </div>
    <div class="data-row">
        <app-gadgets [gadgetContent]="topVotingsContent" [gadgetContentTitle]="topVotingsTitle"></app-gadgets>
    </div>
    <div class="data-row">
        <app-gadgets [gadgetContent]="financeStatusContent" [gadgetContentTitle]="financeStatusTitle"></app-gadgets>
    </div>
    <!-- Add more data rows as needed -->
  </div>
