$color-primary: #001F3F;
$color-secondary: #39CCCC;
$color-dark-gray: #333333;
$color-light-gray: #C0C0C0;
$color-white: #FFFFFF;

html {
    font-family: 'Exo', sans-serif;
    background-color: $color-primary;
  }